@import "tailwindcss";

@import "./styles/index.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-body-1);
  font-weight: var(--font-weight-body-1);
  line-height: var(--line-height-body-1);
}
